### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Mac ###
.DS_Store

### Terraform ###
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!*.tfvars.example

### Docker ###
docker-compose.override.yml

### Secrets ###
*.pem
*.key
.env
!.env.example
